html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Helvetica Neue";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1650px;
}

.auth_wrapper {
  background: url(../images/login_bg.png) center/cover;
  min-height: 100vh;
  /* Floating label style */
}
.auth_wrapper .header {
  margin-top: 63px;
  height: 73px;
  width: 277px;
}
.auth_wrapper h1 {
  font-family: "Helvetica Neue";
  color: #e29b1b;
  font-weight: 600;
  font-size: 65px;
  margin-top: 78px;
  margin-bottom: 52px;
}
.auth_wrapper .authForm {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
}
.auth_wrapper .spectacledcoder-input {
  position: relative;
  margin-bottom: 53px;
}
.auth_wrapper .spectacledcoder-input .d-label {
  position: absolute;
  left: 60px;
  top: 55px;
  letter-spacing: 5.63px;
  color: #F7F7F7;
  font-style: italic;
  font-weight: 300;
  font-size: 35px;
  font-family: "Helvetica Neue";
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  padding: 0 5px;
  z-index: 1;
}
.auth_wrapper .spectacledcoder-input input {
  width: 100%;
  height: 147px;
  padding: 0 20px;
  outline: none;
  border: none;
  border-radius: 75px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  /* White with 40% opacity */
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  font-size: 25px;
  font-family: "Helvetica Neue";
}
.auth_wrapper .spectacledcoder-input input:focus {
  border-color: #e29b1b;
}
.auth_wrapper .d-label.floating {
  -webkit-transform: translateY(-77px) scale(0.9);
          transform: translateY(-77px) scale(0.9);
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.1294117647);
  color: #e29b1b;
  padding: 0 8px;
  z-index: 10;
  margin-left: 10px;
  border-radius: 5px;
}
.auth_wrapper .authForm input[type=submit] {
  display: block;
  margin: 30px auto 0;
  padding: 10px 30px;
  background-color: #e29b1b;
  color: #000;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.auth_wrapper .authForm input[type=submit]:hover {
  background-color: #000;
  color: #e29b1b;
  -webkit-box-shadow: 0 0 10px rgba(226, 155, 27, 0.5);
          box-shadow: 0 0 10px rgba(226, 155, 27, 0.5);
}
.auth_wrapper .authForm button {
  font-family: "Helvetica Neue";
  color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 31px;
  height: 128px;
  max-width: 354px;
  width: 100%;
  background: transparent;
  font-size: 33px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .auth_wrapper .spectacledcoder-input input {
    height: 114px;
  }
  .auth_wrapper .spectacledcoder-input .d-label {
    top: 42px;
    left: 20px;
  }
  .auth_wrapper .d-label.floating {
    -webkit-transform: translateY(-55px) scale(0.9);
            transform: translateY(-55px) scale(0.9);
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .auth_wrapper {
    background: url(../images/login_bg_formobile.png) center/cover;
  }
  .auth_wrapper .spectacledcoder-input .d-label {
    font-size: 15px;
  }
  .auth_wrapper .header {
    margin-top: 41px;
    height: 53px;
    width: 222px;
  }
  .auth_wrapper .d-label.floating {
    -webkit-transform: translateY(-45px) scale(0.9);
            transform: translateY(-45px) scale(0.9);
  }
  .auth_wrapper .authForm button {
    font-size: 18px;
    height: 90px;
  }
  .auth_wrapper .spectacledcoder-input input {
    height: 90px;
  }
  .auth_wrapper .spectacledcoder-input .d-label {
    top: 38px;
    left: 20px;
  }
  .auth_wrapper h1 {
    font-size: 38px;
    margin-top: 61px;
    margin-bottom: 31px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
  }
}
@media (max-width: 376px) {
  .auth_wrapper .spectacledcoder-input input {
    height: 70px;
  }
  .auth_wrapper .spectacledcoder-input .d-label {
    font-size: 13px;
    top: 28px;
  }
  .auth_wrapper .authForm button {
    font-size: 24px;
    height: 93px;
  }
  .auth_wrapper .d-label.floating {
    -webkit-transform: translateY(-34px) scale(0.9);
            transform: translateY(-34px) scale(0.9);
  }
}
.authConfirm_wrapper {
  background: url(../images/login_bg.png) center/cover;
  min-height: 100vh;
}
.authConfirm_wrapper .header {
  height: 73px;
  width: 277px;
}
.authConfirm_wrapper .userName {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  padding-top: 40px;
  text-align: right;
  margin-left: 160px;
}
.authConfirm_wrapper h1 {
  font-family: "Montserrat";
  color: #E29B1A;
  font-size: 72px;
  text-align: center;
  margin-top: 81px;
  margin-bottom: 49px;
  font-weight: 600;
  letter-spacing: 7.41px;
}
.authConfirm_wrapper p {
  max-width: 1026px;
  margin: 0 auto;
  font-size: 30px;
  color: #ffffff;
  font-weight: 300;
  line-height: 45px;
  text-align: center;
}
.authConfirm_wrapper button {
  font-family: "Helvetica Neue";
  color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 31px;
  height: 128px;
  max-width: 354px;
  width: 100%;
  background: transparent;
  font-size: 33px;
  margin-top: 96px;
  text-transform: uppercase;
}
.authConfirm_wrapper a {
  font-family: "Helvetica Neue";
  color: #ffffff;
  background: transparent;
  font-size: 25px;
  margin-top: 78px;
  text-transform: uppercase;
}

@media (max-width: 1080px) {
  .authConfirm_wrapper h1 {
    font-size: 57px;
  }
  .authConfirm_wrapper p {
    font-size: 25px;
  }
  .authConfirm_wrapper button {
    height: 103px;
  }
}
@media (max-width: 992px) {
  .authConfirm_wrapper .header {
    margin-top: -19px;
    height: 50px;
    width: 240px;
  }
}
@media (max-width: 992px) {
  .authConfirm_wrapper h1 {
    font-size: 45px;
    line-height: 55px;
    text-align: left;
  }
  .authConfirm_wrapper p {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
  }
  .authConfirm_wrapper button {
    height: 103px;
  }
}
@media (max-width: 576px) {
  .authConfirm_wrapper {
    background: url(../images/login_bg_formobile.png) center/cover;
  }
  .authConfirm_wrapper .header {
    height: 38px;
    width: 128px;
    margin-top: -25px;
  }
  .authConfirm_wrapper .userName {
    font-size: 15px;
  }
  .authConfirm_wrapper button {
    font-size: 18px;
    height: 80px;
    margin-top: 33px;
    max-width: 245px;
    width: 100%;
  }
}
@media (max-width: 481px) {
  .authConfirm_wrapper h1 {
    font-size: 35px;
    line-height: 45px;
    text-align: left;
    margin-top: 40px;
  }
}
@media (max-width: 346px) {
  .authConfirm_wrapper h1 {
    font-size: 25px;
    line-height: 35px;
  }
}
.header_and_hero {
  background: url(../images/hero_bg.png) center/cover;
  min-height: 770px;
}
.header_and_hero .logo {
  width: 109px;
  display: block;
}
.header_and_hero h2 {
  color: #F7F7F7;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
.header_and_hero .hero_main_area {
  margin-top: 91px;
}
.header_and_hero .hero_main_area .hero_content h1 {
  font-family: "Montserrat";
  font-size: 81px;
  line-height: 98px;
  color: #D78E00;
  letter-spacing: 13.04px;
  font-weight: 600;
}
.header_and_hero .hero_main_area .hero_content p {
  color: #ffffff;
  font-size: 25px;
  line-height: 43px;
  text-align: left;
  margin-top: 23px;
  font-weight: 400;
}
.header_and_hero .hero_main_area .video_play_area {
  position: relative;
  height: 459px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.header_and_hero .hero_main_area .video_play_area img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}
.header_and_hero .hero_main_area .video_play_area .videoPlaybtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 110px;
  width: 110px;
  background: rgba(255, 255, 255, 0.0823529412);
  border-radius: 50%;
  backdrop-filter: blur(32px);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_and_hero .hero_main_area .video_play_area .videoPlaybtn .triangle {
  display: block;
  width: 45px;
  height: 52px;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background: #FFFFFF;
  border-radius: 5px;
}
.header_and_hero .hero_main_area .video_play_area .modal-header {
  background: #D78E00 !important;
  border-bottom: 0;
}

.proximos_eventos_area h1 {
  font-size: 50px;
  font-weight: 600;
  color: #401675;
  margin-bottom: 50px;
}
.proximos_eventos_area p {
  max-width: 1026px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}
.proximos_eventos_area .card {
  height: 773px;
  background: url(../images/card_bg.png) no-repeat center/cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 5%;
  overflow: hidden;
  border-radius: 20px;
  border: none;
}
.proximos_eventos_area .card .card_effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.proximos_eventos_area .card h1 {
  font-family: "Helvetica Neue";
  color: #e29b1b;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}
.proximos_eventos_area .card p {
  font-size: 40px;
  line-height: 55px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
.proximos_eventos_area .card .v2status {
  position: absolute !important;
  top: 0;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #ffffff;
  border-bottom-left-radius: 50px;
  padding: 3px 40px;
}
.proximos_eventos_area .card .v2status p {
  font-size: 18px;
  color: #000000;
  margin: 0;
}
.proximos_eventos_area .card .v2status span {
  height: 14px;
  width: 14px;
  display: block;
}
.proximos_eventos_area .de_cart {
  background: url(../images/deactiveCartbg.png) no-repeat center/cover;
  padding-bottom: 150px;
}
.proximos_eventos_area .de_cart h1 {
  opacity: 0.8;
}
.proximos_eventos_area .de_cart p {
  opacity: 0.8;
}
.proximos_eventos_area .cart_footer {
  padding-top: 30px;
}
.proximos_eventos_area .cart_footer h2 {
  font-size: 30px;
  text-align: center;
  color: #000000;
  font-weight: 400;
  margin-bottom: 23px;
}
.proximos_eventos_area .cart_footer .statuscomplete p {
  font-size: 20px;
  color: #000000;
  margin: 0;
}
.proximos_eventos_area .cart_footer .statuscomplete span {
  height: 36px;
  width: 36px;
  display: block;
}
.proximos_eventos_area .cart_footer .statusInprogress p {
  font-size: 20px;
  color: #000000;
  margin: 0;
}
.proximos_eventos_area .cart_footer .statusInprogress span {
  height: 22px;
  width: 22px;
  display: block;
}
.proximos_eventos_area .cart_footer .statusupcomming p {
  font-size: 20px;
  color: #000000;
  margin: 0;
}
.proximos_eventos_area .cart_footer .statusupcomming span {
  height: 22px;
  width: 22px;
  display: block;
}
.proximos_eventos_area .cart_footer .statusIncomplete p {
  font-size: 20px;
  color: #000000;
  margin: 0;
}
.proximos_eventos_area .cart_footer .statusIncomplete span {
  height: 22px;
  width: 22px;
  display: block;
}
.proximos_eventos_area .message h2 {
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  font-weight: 400;
  max-width: 368px;
  width: 100%;
}

.downloadBtn {
  font-size: 23px;
  padding: 15px 20px;
  border: 1px solid #1F2A62;
  border-radius: 38px;
  background: transparent;
}

.footer {
  background: url(../images/footer_bg.png) no-repeat center/cover;
  width: 100%;
  height: 255px;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.footer img {
  max-width: 213px;
  width: 100%;
}
.footer p {
  color: #F7F7F7;
  font-size: 28px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 4.51px;
  text-align: center;
}

@media (max-width: 1440px) {
  .header_and_hero .hero_main_area .hero_content h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .header_and_hero .hero_main_area .hero_content p {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .header_and_hero {
    background: url(../images/mobile_hero_bg.png) center/cover;
  }
  .header_and_hero .hero_main_area .video_play_area {
    height: 218px;
  }
  .header_and_hero .hero_main_area .video_play_area .videoPlaybtn {
    height: 68px;
    width: 68px;
  }
  .header_and_hero .hero_main_area .video_play_area .videoPlaybtn .triangle {
    height: 28px;
    width: 22px;
  }
  .header_and_hero .hero_main_area .hero_content h1 {
    font-size: 45px;
  }
  .header_and_hero .hero_main_area .hero_content p {
    font-size: 17px;
    line-height: 40px;
  }
  .proximos_eventos_area .card {
    height: 690px;
  }
  .proximos_eventos_area h1 {
    font-size: 30px;
  }
}
@media (max-width: 440px) {
  .header_and_hero .hero_main_area .hero_content h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .header_and_hero .hero_main_area .hero_content p {
    font-size: 17px;
    line-height: 40px;
  }
  .proximos_eventos_area .card p {
    font-size: 30px;
    line-height: 39px;
  }
  .proximos_eventos_area .card h1 {
    font-size: 50px;
  }
}
@media (max-width: 360px) {
  .header_and_hero .hero_main_area .hero_content h1 {
    font-size: 25px;
    line-height: 40px;
  }
}
.interior_header_and_hero {
  background: url(../images/interior_hero_bg.png) center/cover;
  min-height: 100vh;
}
.interior_header_and_hero .logo {
  width: 109px;
  display: block;
}
.interior_header_and_hero h2 {
  color: #F7F7F7;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
.interior_header_and_hero .hero_main_area {
  margin-top: 91px;
}
.interior_header_and_hero .hero_main_area .hero_content p {
  color: #ffffff;
  font-size: 18px;
  line-height: 34px;
  text-align: left;
  margin: 0 auto;
  font-weight: 400;
  max-width: 819px;
  width: 100%;
  padding-bottom: 20px;
}
.interior_header_and_hero .hero_main_area .video_play_area {
  position: relative;
  height: 459px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.interior_header_and_hero .hero_main_area .video_play_area img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}
.interior_header_and_hero .hero_main_area .video_play_area .videoPlaybtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 110px;
  width: 110px;
  background: rgba(255, 255, 255, 0.0823529412);
  border-radius: 50%;
  backdrop-filter: blur(32px);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.interior_header_and_hero .hero_main_area .video_play_area .videoPlaybtn .triangle {
  display: block;
  width: 45px;
  height: 52px;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background: #FFFFFF;
  border-radius: 5px;
}
.interior_header_and_hero .hero_main_area .video_play_area .modal-header {
  background: #D78E00 !important;
  border-bottom: 0;
}/*# sourceMappingURL=styles.css.map */